                        .search {
                            border: 2px solid #eb1a21;
                            /* width: 791px; */
                            margin: 0 0 0 60px;
                        }

                        .tb {
                            outline: none;
                            border: none;
                            padding: 8px 15px;
                            width: 250%;
                        }

                        .typeahead,
                        .tt-query,
                        .tt-hint {
                            font-size: 20px;
                            height: 20px;
                            outline: none;
                            border: none;
                            line-height: 30px;
                            padding: 1px 2px;
                            padding-left: 12px;
                            width: 600px;
                        }

                        .typeahead {
                            background-color: #FFFFFF;
                        }

                        .tt-hint {
                            color: #999999;
                        }

                        .tt-dropdown-menu {
                            background-color: #FFFFFF;
                            border: none;
                            margin-top: 2px;
                            padding: 8px 0;
                            width: 678px;
                        }

                        .tt-suggestion {
                            font-size: 20px;
                            line-height: 20px;
                            padding: 3px 20px;
                        }

                        .tt-suggestion.tt-is-under-cursor {
                            background-color: #0097CF;
                            color: #FFFFFF;
                        }

                        .tt-suggestion p {
                            margin: 0;
                        }

                        .sbtn {
                            color: red;
                            outline: none;
                            border: none;
                            margin-top: 1px;
                            margin-left: 100px;
                            padding-left: 30px;
                            padding-right: 30px;
                            font-size: 20px;
                        }

                        .smbtn {
                            color: red;
                            outline: black;
                            margin-top: 1px;
                            margin-left: 100px;
                            padding-left: 10px;
                            padding-right: 30px;
                            font-size: 20px;
                        }

                        .overlays {
                            background: rgba(0, 0, 0, 0.8);
                            opacity: 0.8;
                            filter: alpha(opacity=80);
                            position: absolute;
                            top: 0px;
                            bottom: 0px;
                            left: 0px;
                            right: 0px;
                            z-index: 100;
                        }

                        /* Popup */
                        .popups {
                            background: #e0e0e0;
                            position: absolute;
                            top: 15%;
                            border-radius: 5px;
                            box-shadow: black;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            z-index: 101;
                            margin-top: 10px;
                            width: 300px;
                            /*Change your width here*/
                            height: 200px;
                            /*Change your height here*/
                            margin: auto;
                        }

                        @media(max-width:768px) {
                            .popups {
                                top: 15%;
                                width: 90%;
                                /* box-shadow: 5px 8px #888888; */
                                margin: auto 5%;
                            }
                        }

                        /* Popup Inner */
                        .popup-inner {
                            position: relative;
                            padding: 1em;
                        }

                        input .s3-btn-close {
                            position: absolute;
                            top: -0.5em;
                            right: -0.5em;

                            background: black;
                            border: solid 2px white;
                            color: white;
                            cursor: pointer;

                            border-radius: 15px;

                            outline: none;
                        }

                        input.s3-btn {
                            background: #f1f1f1;
                            border: none;
                            width: 200px;
                            height: 50px;
                            cursor: pointer;

                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            margin: auto;
                        }

                        .s3-center {
                            text-align: center;
                        }

                        @media screen and (max-width: 700px) {
                            .mobile {
                                display: none;
                            }

                            .typeahead,
                            .tt-query,
                            .tt-hint {
                                font-size: 15px;
                                height: 20px;
                                outline: black;
                                border: black;
                                outline: red;
                                /* margin-top: -10px; */
                                border-bottom: red;
                                line-height: 28px;
                                padding: 23px 3px;
                                padding-left: 9px;
                                width: 250px;
                            }

                            .typeahead {
                                background-color: #FFFFFF;
                                border-bottom: red;
                            }

                            .marg {
                                margin-top: -8px;
                                margin-left: 10px;
                                color: red;
                            }

                            .tt-dropdown-menu {
                                background-color: #FFFFFF;
                                border: none;
                                margin-top: 0px;
                                padding: 0px 0;
                                width: 250px;
                            }

                            .tt-suggestion {
                                font-size: 20px;
                                line-height: 20px;
                                padding: 20px 20px;
                            }

                            .tt-suggestion.tt-is-under-cursor {
                                background-color: #0097CF;
                                color: #FFFFFF;
                            }

                            .tt-suggestion p {
                                margin: 0;
                            }

                        }

                        /* * {
                            margin: 0;
                            padding: 0;
                        } */

                        .cbutton {
                            box-sizing: border-box;
                            font-family: inherit;
                            display: inline-block;
                            font-weight: 600;
                            text-align: center;
                            vertical-align: middle;
                            line-height: 1.5;
                            margin-top: 0 !important;
                            margin-bottom: 0 !important;
                            position: relative;
                            overflow: hidden;
                            user-select: none;
                            -webkit-tap-highlight-color: transparent;
                            margin: .375rem;
                            text-transform: uppercase;
                            white-space: normal;
                            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
                            color: #ff3547 !important;
                            background-color: transparent !important;
                            border: 2px solid #ff3547 !important;
                            appearance: none;
                            border-radius: 10em;
                            padding: .5rem 1.6rem;
                            font-size: 1.4rem;
                            cursor: pointer;
                            padding-top: .38rem;
                            padding-bottom: .38rem;
                        }

                        .cinput {
                            width: calc(10vw + 260px);
                            height: calc(1.5em + 0.75rem + 5px);
                            padding: .375rem .75rem;
                            font-size: 1.5rem;
                            font-weight: 400;
                            color: #495057;
                            background-color: #e0e0e0;
                            background-clip: padding-box;
                            /* border: 1px solid #ced4da; */
                            border: 1px solid black;
                            border-radius: .25rem;
                            margin-bottom: 20px;
                            margin-top: 5px;
                        }